<h6 class="search-results-title"><%= t(:search_ingredients_results, :keywords => h(params[:keywords])) %></h6>
<ul class='search_ingredients_list' style="list-style-type: none">
<% @ingredients.each do |ingredient| %>
<li style="border-bottom: 1px solid gray; padding-bottom: 10px; margin-bottom: 15px">
   <h5><%= ingredient.name %></h5>
   <%= truncate(ingredient.description, :ommision => "...", :length => 255) %>
</li>
<% end %>
</ul>
