<div class="taxon" data-hook="taxon">

  <%= link_to taxon.name, seo_url(taxon), :class => 'breadcrumbs' %>
  
<%=  link_to image_tag(taxon.icon.url(:normal), :alt => taxon.name), seo_url(taxon)   %>
        
</div>
