
/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *

 *= require store/spree_core
 *= require store/spree_promo

 *= require store/spree_reviews


 *= require ./jquery-ui
 *= require jquery.bxslider
 *= require icons
 *= require icons-codes
 *= require store/ingredients
 *= require ./spree_fancy
 *= require_self
 *= require_tree .

 *= require store/spree_address_book
*/


@media (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {

	body {
	
		background-image: url('/assets/whole_equine_background2_2048_gradient.jpg');
		padding-top: 0px;
		background-position: left top;
		background-repeat: repeat;
		background-color: #ffffff;
		background-attachment: fixed;
		background-size: cover;
		font-family: Gill Sans;
/*		color: #333333 !important;
		font-weight: 400;
		font-size: 12pt;
		line-height: 24px;
 *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/	
	}

}

body {
	
	background-image: url('/assets/whole_equine_background2_1400_gradient.jpg');
	padding-top: 0px;
	background-position: left top;
	background-repeat: no-repeat;
	background-color: #ffffff;
background-attachment: fixed;
		background-size: cover;
		font-family: Gill Sans;
		color: #333333;
		font-weight: 400;
		font-size: 12pt;
	
}


/*a {
text-decoration: none;
color: #0033ee;
}
 *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/

#tabs .ui-widget-header {
	background: transparent;
	border: none;
	border-bottom: 1px solid white;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
#tabs .ui-state-default {
	background: transparent;
	border: none;
		font-size: 12pt;
		margin-right:15px;

}
#tabs .ui-state-active {
	background: transparent url(img/uiTabsArrow.png) no-repeat bottom center;
	border-bottom: 2px solid white;
}
#tabs .ui-state-default a {
	color: #999999 !important;
	border-top: 1px solid #444;
	border-left: 1px solid #444;
	border-right: 1px solid #444;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;

}

#tabs .ui-state-active a {
	color: #000000 !important;
}

#tabs .ui-widget {
font-size: 12pt/*{fsDefault}
 *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/;
}

/*
#tabs .ui-widget-content {
font-family: inherit;
font-size: inherit;
} *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/

#tabs .ui-tabs .ui-tabs-nav li {
list-style: none;
white-space: nowrap;
}

#tabs .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
cursor: text;
}

#tabs .ui-helper-reset {
line-height: 1.3;
font-size: 100%;
list-style: none;
}

.ui-tabs .ui-tabs-nav {

	padding: 10px 0em 0em 0em !important;


}

.ui-tabs {

	padding: 0em !important;


}

.ui-tabs .ui-tabs-panel {
	display: block;
	border: 1px solid #444 !important;
	border-bottom-left-radius: 6px !important;
	border-bottom-right-radius: 6px !important;
	padding: 10px !important;
	background: none;
	font-family: 'Gill Sans';
	font-size: 12pt;

}

.ui-widget-content {
border: 0px solid #aaaaaa !important;
background: #ffffff/*{bgColorContent}
 *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/ url(images/ui-bg_flat_75_ffffff_40x100.png)/*{bgImgUrlContent}
 *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/ 50%/*{bgContentXPos}
 *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/ 50%/*{bgContentYPos}
 *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/ repeat-x/*{bgContentRepeat}

 *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/;
color: #222222/*{fcContent} *
 *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/;
}

.ui-tabs .ui-tabs-nav li {
list-style: none;
float: left;
position: relative;
top: 1px;
margin: auto;
border-bottom: 0 !important;
padding: 0;
white-space: nowrap;
}

#tabs .ui-helper-clearfix {
zoom: 1;
}

#tabs .ui-helper-reset {
margin: 0;
padding: 0;
border: 0;
outline: 0;
line-height: 1.3;
text-decoration: none;
font-size: 100%;
list-style: none;
}

.ui-helper-clearfix::after {
clear: both;
}

.ui-helper-clearfix::before, .ui-helper-clearfix::after {
content: "";
display: table;
}

#tabs .ui-tabs { position: relative; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed")
 *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
.ui-tabs .ui-tabs-nav li a { margin: 0; padding: 10px !important; }

/*.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; } *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/

#tabs .ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; padding: 0; white-space: nowrap; }

#tabs .ui-tabs .ui-tabs-nav li a { float: left; padding: 0em; text-decoration: none; }
#tabs .ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
#tabs .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
#tabs .ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere...

 *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/

/*.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 0em ; background: none; } *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
/* #tabs .ui-tabs .ui-tabs-hide { display: none !important; }  *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
#tabs .ui-tabs-hide { display: none !important; }


#reviews div.header {
  font-size: 12pt;
  font-weight: bold;
  border-bottom: 1px #2222aa dashed;
  margin-top: 10px;
  margin-bottom: 10px;
}

#reviews div.review {
  border-bottom: 1px #2222aa dashed;
  margin-bottom: 10px;
}

#reviews div.review span.title {
  font-size: 11pt;
  font-weight: bold;
}

#reviews div.review span.attribution {
  font-size: 8pt;
}

.lit {
  background-color: #aaaaaa;
  color: #0000bb;
  margin-right: 1px;
  padding-left: 1px;
}

.unlit {
  background-color: #aaaaaa;
  color: #000000;
  margin-right: 1px;
  padding-left: 1px;
}

.star-rating-control {
  display: inline-block;
  height: 15px;
}

.review_hr {
  size: 1px;
  background: silver;
  border: none;
  margin: 1em 0;
}

/*
 * jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/
 **************************************************************************
 *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/

div.rating-cancel, div.star-rating {
  float: left;
  width: 17px;
  height: 15px;
  text-indent: -999em;
  cursor: pointer;
  display: block;
  background: transparent;
  overflow: hidden
}

div.rating-cancel a, div.star-rating a {
  display: block;
  width: 16px;
  height: 100%;
  background-position: 0 0px;
  border: 0
}

div.star-rating-on, div.star-rating-on a {
  background-position: 0 -32px !important
}

div.star-rating-hover, div.star-rating-hover a {
  background-position: 0 -32px !important;
}

/* Read Only CSS

 *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
div.star-rating-readonly a {
  cursor: default !important
}

/* Partial Star CSS
 *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
div.star-rating {
/*
This caused the review stars not to show up
background-color: transparent !important;
overflow: hidden !important
 *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
}

/* END jQuery.Rating Plugin CSS
 *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/



.progress-steps li {
float: left;
margin-right: 20px;
font-weight: bold;
text-transform: uppercase;
padding: 5px 5px;
color: #727276;
}


nav#taxonomies .taxons-list li a {
font-size: 12pt;
}


  table#cart-detail {
    width: 100%;
    tbody#line_items {
      tr {

        td[data-hook="cart_item_price"], td[data-hook="cart_item_total"] {
          @extend span.price;
          @extend span.price.selling;
        }
        td[data-hook="cart_item_quantity"] {
          .line_item_quantity {
            width: 20px;
          }
        }
        td[data-hook="cart_item_delete"] {
          .delete {
            display: block;
            width: 20px;
          }
        }
      }
    }

  }



  h6.product-section-title {
    text-transform: uppercase;
    border-bottom: 1px solid rgba(217, 217, 219, 1);
      margin-bottom: 5px;

    margin-top: 15px;
  }

   nav#taxonomies .taxonomy-root {
    text-transform: uppercase;
    border-bottom: 1px solid rgba(217, 217, 219, 1);
      margin-bottom: 5px;

    margin-top: 15px;
  }

  ul.taxons-list-1 {

  }

  ul.taxons-list-0 {
   margin-left: 15px;
  }

  div.header-image {

	background-color: transparent;
	margin:0px;
/*	height:100px; *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/

  }

  nav #main-nav-bar {
text-transform: uppercase;
font-weight: bold;
margin-top: 0px;
margin-bottom: 10px;
/*border-bottom: 1px solid #d9d9db; *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
border-bottom: none;
padding-bottom: 6px;
}

#top-nav-bar a {

	color: #333333;

}


#main-nav-bar a {

	color: #333333;

}

img.brand {
	
	vertical-align: bottom;
	
}



footer.fixed-footer {
	
	position: fixed;
	bottom:0;
	min-height: 40px;
	width:100%;
/*	background-color: white; *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
/*	border-top:1px solid #000000; *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
	background-image: url('/assets/whole_equine_background2_1400_gradient.jpg');
	background-attachment: fixed;
	background-size: cover;

-webkit-box-shadow: 0 1px 20px rgba(0,0,0,0.5);
-moz-box-shadow: 0 1px 20px rgba(0,0,0,0.5);
box-shadow: 0 1px 20px rgba(0,0,0,0.5);

}

div.inner-fixed-footer {
	
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.0) 100%); /* FF3.6+  *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.0))); /* Chrome,Safari4+  *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.0) 100%); /* Chrome10+,Safari5.1+  *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.0) 100%); /* Opera 11.10+  *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.0) 100%); /* IE10+  *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.0) 100%); /* W3C  *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9  *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/

height: 60px;

}



nav#taxonomies .taxonomy-root {
text-transform: uppercase;
border-bottom: 1px solid rgba(217, 217, 219, 1);
margin-bottom: 5px;
margin-top: 0px;
}



#subheader .container {
position: relative;
width: 100%;
margin: 0 auto;
padding: 0;
background: transparent;
/*background-color: rgba(255,255,255,0.9); *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
}


.home-container {
position: relative;
width: 960px;
margin: 0 auto;
padding: 0;
background: transparent;
/*background-color: rgba(255,255,255,0.9); *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
}



.content {
  background-color: transparent;
  padding: 10px;
  margin-top: 150px; /* negative indent the amount of the padding to maintain the grid system  *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  z-index: 1;
/*  position: inherit; *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
  width: 100%;
  display: block;
}


.row {

	margin-bottom: 0px;

}

#header.row {


min-height: 40px;
padding-left: 0px;
padding-right: 0px;
margin-top: 0px;
margin-bottom: 0px;

background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.75) 90%); /* FF3.6+  *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(90%,rgba(255,255,255,0.75))); /* Chrome,Safari4+  *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 90%); /* Chrome10+,Safari5.1+  *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 90%); /* Opera 11.10+  *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 90%); /* IE10+  *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 90%); /* W3C  *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#bfffffff',GradientType=0 ); /* IE6-9  *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/


/*-moz-border-radius: 4px;
border-radius: 4px;

 *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/

-webkit-box-shadow: 0 1px 20px rgba(0,0,0,0.5);
-moz-box-shadow: 0 1px 20px rgba(0,0,0,0.5);
box-shadow: 0 1px 20px rgba(0,0,0,0.5);
}

/*
#reviews div.review {
  border-top: 1px rgb(217, 217, 219) solid;
  border-bottom: none;
  margin-top: 15px;
  padding-top: 10px;
}

p.ratings-stars {
display: block;
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

div.review {

	margin-top: 15px;

}

.ratings, .ratings-stars {
	line-height: 0;
	padding-top: 5px;
	padding-bottom: 0px;
}

#ratings .p {
	padding-top: 5px;
	padding-bottom: 0px;
}
 *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/

a {

	color: #55733c;
}


.container .column, .container .columns {
	float: left;
	display: inline;
/*	margin-left: 10px;
	margin-right: 10px;
 *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/	color: #333333;
}

.container .sixteen.columns {
/*background-color: rgba(255,255,255,1); *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
	width: 980px;
}


.container .four.columns {
/*
background-color: rgba(255,255,255,1);
padding: 0px;
 *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
}

.container .twelve.columns {
	margin-left: auto;
	margin-right: auto;
	width: 750px;

/*
background-color: rgba(255,255,255,1);
padding: 0px;
 *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/
}


.column.omega, .columns.omega {
margin-right: 0;
margin-left: 0;
padding: 0px;
}


#subheader {
color: white;
border-top: 4px solid #6587a0;
border-bottom: 4px solid #6587a0;
overflow: hidden;

/*
background-color: #234d68;

-webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.5);
box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.5);
 *= require store/spree_product_ingredients
 *= require store/spree_address_book
*/

}

.container .three.columns {
width: 28%;
margin:25px;
}


.container2 .three.columns {
width: 33%;
margin:0px;
}


.container .column, .container .columns {
float: left;
display: inline;
margin-left: 0px;
margin-right: 10px;
}


#wrapper.container {

	background-color: rgba(255,255,255,0.99);
	padding: 20px;
	border-radius: 10px;
	border: 2px solid black;
	width: 980px;
}


#wrapper.container2 {
position: relative;
width: 960px;
margin: 30px auto;
padding: 0;
display: block;

}

#wrapper.container2 {

	width: 980px;
}

#wrapper p {

	color: black !important;

}

#wrapper a {

	color: #333333;

}

#wrapper a.button {

		color: white;
			
			}

#wrapper form {

	margin-right:0px;
	max-width: 400px;
}
#wrapper form.edit_order {

	margin-right:0px;
	max-width: 100%;
}

#wrapper .row {

	margin-left:20px;

}


#wrapper2.container {

	background-color: rgba(255,255,255,0.9);
	padding: 20px;
	border-radius: 10px;
	border: 2px solid black;
	width: 930px;
}

#wrapper2 p {

	color: black !important;

}

#wrapper2 a {
			
	color: #333333 !important;

}

#wrapper2 form {

	margin-right:0px;
	max-width: 300px;
}

#wrapper2 .row {

	margin-left:20px;

}


#header .container .ten.columns {
	width: 620px;
}


#header .container {
	width: 1020px;
}

.container .ten.columns {
}

.container .five.columns {
	width: 450px;
}

span.price.selling {

	font-size: 12pt;

}

ul#products li .price {
color: #2b5c55;
font-size: 14pt;
padding-top: 5px;
display: block;
}

ul#products li a.info {
height: 25px;
margin-top: 5px;
font-size: 12pt;
color: #bbbbbb;
border-bottom: 1px solid #d9d9db;
overflow: hidden;
}

#products p.ratings-stars {

	margin: 10px 0px 0px 0px;
	padding: 0px;

}

#products div.ratings {

	padding: 0px;
	line-height: 18px;
}

.home-page-header {

text-transform: uppercase;
border-bottom: 1px solid rgba(217, 217, 219, 1);
margin-bottom: 5px;
margin-top: 0px;
padding: 5px;
max-width: 90%;
}

.home-page-content {

padding: 10px;


}

dl dd {
margin-left: 0;
}

li.nested-menu{
    display: inline !important;
    position: relative;
    min-width: 200px;
}

nav #main-nav-bar li a {
	font-size: 11pt;
	font-weight: normal;
}

nav#top-nav-bar ul li a {
font-weight: normal;
font-size: 11pt;
text-transform: uppercase;
}

nav #main-nav-bar li:first-child a {
padding-left: 5px !important;
}

.nested-menu {
	
	font-size: 11pt;
	font-weight: normal;
	
}

li:hover > ul{display: block;}
ul.dropdown {
background: #fff;
width: 300px;
display: none;
position: absolute;
top: 20px;
z-index: 9999;
margin-top:0px;
padding-top: 0px;
border: 1px solid black;
border-radius: 10px;

}
ul.dropdown li {
display: block;
height: 20px;
margin: 10px;
}



=======================================================================
	Header Rules
=======================================================================
 *= require store/spree_address_book
*/
#masthead {
	width:960px;
	float:left;
	color:#FFF;
	margin-left:10px;
}
#masthead .logo{
	float:left;
	padding-top:26px;
}
#masthead .topnav{
	float:right;
}
.topnav p.welcm{
	float:left;
	padding:2px 10px 0px 0px;
	color:#666666;
}
.topnav p.welcm a{
	color:#666666 !important;
}
.topnav ul.links{
	float:left;
	width:115px;
	height:21px;
	padding:3px 0px 0px 20px;
	list-style:none;
	background-image:url(../images/top_btns.png);
	background-repeat:no-repeat;
	margin-bottom:17px;
}
.topnav ul.links li{
	float:left;
	padding-right:20px;
}
.topnav ul.links li.last{
	padding-right:0px;
	padding-left:10px;
}
.topnav ul.links li a{
	color:#fff;
}
.cart_bag{ margin-left: -150px }
.cart_bag a.cartbtn{
	color:#fff;
	display:inline-block;
	width:215px;
	height:22px;
	padding:7px 0px 0px 35px;
	background-repeat:no-repeat;
	z-index:9;
	position:absolute;
}
.cart_bag a.cartbtn.cart_bag_yellow{
	color:#fff;
	display:inline-block;
	width:215px;
	height:22px;
	padding:7px 0px 0px 35px;
	background-repeat:no-repeat;
	z-index:9;
	position:absolute;
}
#cart_bag_sec {
  	border: 1px black solid;
  	border-radius: 6px;
  	-webkit-box-shadow: 0 1px 20px rgba(0,0,0,0.5);
-moz-box-shadow: 0 1px 20px rgba(0,0,0,0.5);
box-shadow: 0 1px 20px rgba(0,0,0,0.5);
	background: rgba(255,255,255,1);
	width:600px;
	margin-left: -100px;
	float:left;
	position:absolute;
	z-index:8;
	
}
#cart_bag_sec p{
	float:left;
	padding:0px 15px 10px 80px !important;
	color:white;
}
#cart_bag_sec .carttop{
	height:45px;
	background-position:top;
	background-repeat:no-repeat;
	float:left;
}
#cart_bag_sec .cartbot{
	height:15px;
	background-position:top;
	background-repeat:no-repeat;
	float:left;
}
#cart_bag_sec .cartcenter{
	width:95%;
	background-color: transparent;
	float:left;
	background-repeat:repeat-y;
		margin:15px;

}
.cartcenter ul.cartitem_smal{
	float:left;
	width: 100%;
	list-style:none;
	padding:5px 0px;
	border-bottom:#2a2a2a solid 1px;
}
.cartcenter ul.heads{
	background-repeat:repeat-x;
	background-position:top;
	background-color:#07285e;
	padding:8px 0px 5px 0px;
}
.cartcenter ul.last{
	border:none;
}
.cartcenter ul.cartitem_smal li.txt{
	padding-top:3px !important;
}
.cartcenter ul.cartitem_smal li.prods{
	padding:0px 0px 0px 80px;
	float:left;
}
.cartcenter ul.cartitem_smal li.qty{
	width:50px;
	float:left;
	padding-left: 20px;
	
}
.cartcenter ul.cartitem_smal li.qty input{
	width:20px;
	height:20px;
	float:left;
	border:#031532 solid 1px;
	background-color:#07285e;
	text-align:center;
	color:#CCC;
}
.cartcenter ul.cartitem_smal li.total{
	padding:0px 0px 0px 15px;
	float:left;
}
.cartcenter ul.cartitem_smal li.subprice{
	padding:0px 15px 0px 0px;
	float:right;
}
ul.crtbtns {
	list-style:none;
	float:left;
	padding:20px;
	width:100%;
	font-size: 12px;
}

ul.crtbtns a {
	display:inline-block;
}

.prod_name {
	
	font-size: 16pt;
	
}
ul.crtbtns button {
	font-size: 11pt !important;
	margin-right: 10px;
}

ul.crtbtns li{
	float:left;
	margin-right:2px;
	margin-left:2px;
  padding-left: 2px;
}
.cartcenter ul.cartitem_smal li.prods  a {
    font-size: 11pt !important;
    padding-left: 70px;
}
.previewPopulator {
visibility: visible;
width: 502px;
height: 500px;
left: 50%;
-moz-box-shadow: 0 0 10px rgba(0,0,0,.25);
-webkit-box-shadow: 0 0 10px rgba(0,0,0,.25);
box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
}
.previewPopulator .ui-dialog-titlebar {
    display:none;
}
.previewPopulator .close {
position: absolute;
background: url(close.gif) no-repeat 0 0 transparent;
text-indent: -9999px;
width: 25px;
height: 25px;
overflow: hidden;
cursor: pointer;
right: 20px;
top: 2px;
}
.previewPopulator .close:hover {
background-position: 0 bottom;
}
.previewPopulator .footer {
    bottom: 20px;
    position: absolute;
    right: 100px;
}


#cats-inputs{
  font-size: 80%;

}
#cats-inputs .cats-item{
margin: 2px;
}
#cats-inputs .cats-item label{
margin-right: 2px;
}

.search-results-table {
	
	width: 100%;
	margin-bottom: 25px;
	
}





input[type="submit"], input[type="button"],
input[type= "reset"], button, a.button {

  background-color: #fff;
  background-image: none;
  text-shadow: none;
  color: white;
  font-weight: bold;
  font-size: $button_font_size;
  font-family: 'Gill Sans';
  border-radius: 10px;
  padding: 6px 10px 5px;
  vertical-align:  middle;

  -webkit-font-smoothing: antialiased;

  -webkit-box-shadow: inset 0 1px 5px rgba(50,50,50,0.8);
   -khtml-box-shadow: inset 0 1px 5px rgba(50,50,50,0.8);
     -moz-box-shadow: inset 0 1px 5px rgba(50,50,50,0.8);
       -o-box-shadow: inset 0 1px 5px rgba(50,50,50,0.8);
          box-shadow: inset 0 1px 5px rgba(50,50,50,0.8);
  -webkit-border-radius: 15px;
   -khtml-border-radius: 15px;
     -moz-border-radius: 15px;
      -ms-border-radius: 15px;
       -o-border-radius: 15px;
          border-radius: 15px;


	-moz-box-shadow:inset 0px 1px 0px 0px #aaa;
	-webkit-box-shadow:inset 0px 1px 0px 0px #aaa;
	box-shadow:inset 0px 1px 0px 0px #aaa;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #444), color-stop(1, #000) );
	background:-moz-linear-gradient( center top, #444 5%, #000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#444', endColorstr='#000');
	background-color:#79bbff;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #777;
	display:inline-block;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
	
  &.large {
    padding: 7px 10px;
    font-size: $button_font_size + 2;
  }

  &.gray {
    background-color: lighten($body_text_color, 20);
    border-color: lighten($body_text_color, 10);
  }

}

input[type="submit"]:hover, input[type="button"]:hover,
input[type= "reset"]:hover, button:hover, a.button:hover {
    
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000), color-stop(1, #444) );
	background:-moz-linear-gradient( center top, #000 5%, #444 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#444');
	background-color:#000;
	border:3px solid #777;
  color: white;

  }
}

.ie8 {
  a.button {
    line-height: 16px;
  }
}

input[type="checkbox"], label {
  vertical-align: middle;
}

a.button {
  display: inline-block;
  line-height: 15px;
  margin-top: -2px;
  vertical-align: bottom;
}

#top-nav-bar a.crtbtns {

color: white;
font-weight: bold;
vertical-align: middle;
-webkit-font-smoothing: antialiased;

}

#preview-population a {
	
	color: #222;
	
}

#preview-population a.button {
	
	color: #fff;
	
}


.profile-address form{
  max-width: 450px !important;
}
.profile-address form input{
  display: inline-block;
  width: 60% !important;
  margin-left: 5px;
  margin-top:0px;
  float: right;
}
.profile-address form select{
float: right;
width: 66% !important;
height: 34px;
margin-top:0px;
}

.profile-address .hidden{
  display:none;
}


form p, form .field {
padding: 0;
margin-bottom: 20px;
}



.sort-bar {
width: auto;
display: inline;
float: right;
height: 33px;
}
.sort-bar #sort-products{
float: right;
height: 30px;
}

.search-results-title {
	
display: block;
width: 100%;
margin-top: 40px;

}