<div class="omega columns">
  <%= f.field_container :is_a_supplement, :class => ['checkbox'] do %>
  <label>
    <%= f.check_box :is_a_supplement %>
    <%= t(:is_a_supplement) %>
  </label>
  <% end %>
</div>
