<div id='ingredients-table-container'>
  <%= render "ingredients" %>
</div>
<div class="links columns sixteen alpha omega" >
  <%= link_to t(:update), ingredients_path, :class => 'continue button gray', :id => "update-ingredients-table" %>
</div>
