<div style="margin-bottom:100px">
</div>

          <footer class="fixed-footer">
          
          <div class="inner-fixed-footer">
          
          <div style="margin:0 auto; width: 970px">

	          <div style="display:inline; float:left; margin-top: 15px">
	          
	          </div>
	          
	          <div style="display:inline; float:right; margin-top: 15px">
          	
          	<span style="margin: 0 auto; vertical-align:top">
          	© 2013 Whole Equine, LLC
          	</span></center>

          	          <span class="fb-like" data-href="http://www.facebook.com/WholeEquine" data-send="false" data-layout="button_count" data-width="380" data-show-faces="false" style="display:inline; margin-top:20px; margin-bottom:0px; margin-right: 10px; margin-left:20px"></span>

          	<span style="float:none; border:none; margin-right: 6px; margin-top:10px">
          	<span style="margin-right: 10px;">
          	<%= link_to (image_tag "f_logo.png", :title => 'Facebook', :width => 25, :id => 'brand'), url_for('http://www.facebook.com/WholeEquine'), :class => 'brand' %>
          	</span>
          	          	<span style="margin-right: 0px;">

          	<%= link_to (image_tag "twitter-bird-light-bgs.png", :title => 'Twitter', :width => 27, :id => 'brand'), url_for('https://twitter.com/wholeequine'), :class => 'brand' %>
          	          	</span>
          	</span>
	          	          </div>          	

	                    	
          	</div>



          	</div>
          	

          </footer>