<% stars = product.stars %>
<% reviews_count = product.reviews_count %>
<div class="ratings">
  <p class="ratings-stars">
<span>
      <%= render :partial => "spree/reviews/stars", :locals => {:stars => stars} %>
    </span>
  </p>
  <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    <meta itemprop="ratingValue" content="<%= stars %>" />
    <meta itemprop="reviewCount" content="<%= reviews_count %>" />
  </div>
</div>
